type           = internal
restart        = false
depends-on:    jiji
waits-for.d:   $XDG_CONFIG_HOME/dinit.d/jiji.d/
waits-for.d:   $HOME/.config/dinit.d/jiji.d/
waits-for.d:   /etc/dinit.d/user/jiji.d/
